body {
  display: flex;
  justify-content: center;
  background-color: #fbf1e9;
}

ul {
  padding-left: 21px;
}

#tareasdiv {
  text-align: center;
  padding: 7px;
  margin-top: 8px;
  background-color: blanchedalmond;
  border: 2px dashed #f50057;
}

.btn {
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  transition: 0.25s ease;
  background-color: white;
}

.btn:hover {
  border-radius: 25px;
}

#agregar {
  border: 2px solid rgb(144, 238, 144);
}

#agregar:active {
  background-color: rgb(144, 238, 144);
}

#borrar {
  border: 2px solid #f50057;
}

#borrar:active {
  background-color: #f50057;
}

input[type="text"] {
  margin-right: 5px;
  padding: 7px 0;
  border: 0;
  border-bottom: 2px solid #ccc;
}

input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid rgb(144, 238, 144);
  transition: 0.7s;
}

input[type="checkbox"] {
  margin-right: 5px;
}

li {
  font-family: 'Roboto', sans-serif;
  padding: 7px 0;
  border-bottom: 2px solid #ccc;
}

li::marker {
  content: "📌";
}
